<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="SOS_Tech_GroupConnectionString" connectionString="Data Source=LAPTOP-EVUT5GL0;Initial Catalog=SOS_Tech_Group;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOS_Tech_GroupConnectionString2" connectionString="Data Source=LAPTOP-EVUT5GL0;Initial Catalog=SOS_Tech_Group;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOS_Tech_GroupConnectionString3" connectionString="Data Source=LAPTOP-EVUT5GL0;Initial Catalog=SOS_Tech_Group;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOS_TechConnectionString" connectionString="Data Source=LAPTOP-EVUT5GL0;Initial Catalog=SOS_Tech;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SOSConnectionString" connectionString="Data Source=LAPTOP-EVUT5GL0;Initial Catalog=SOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
